@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #1D858D;
  font-family: 'Montserrat', sans-serif;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#app {
  min-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activities {
  border: 3px solid black;
  border-radius: 5px;
  padding: 0 1em 0 1em;
  margin: 1em;
}

.activity {
  border: 3px solid black;
  border-radius: 3px;
  padding: 1em;
  margin-bottom: 1em;
}

.horizontalLine {
  border: .5px solid black;
}

.publicRoutines {
  border: 3px solid black;
  border-radius: 5px;
  padding: 0 1em 0 1em;
  margin: 1em;
}

.routine {
  border: 3px solid black;
  border-radius: 3px;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #7a8c9d;
}

.routineForm {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
  border: 3px solid aliceblue;
  margin-bottom: 0.5em;
}

.routineFormButton {
  height: fit-content;
  width: fit-content;
}

.routineFormContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.userPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userForm {
  display: flex;
  flex-direction: column;
}

.myRoutines {
  border: 3px solid black;
  border-radius: 5px;
  padding: 0 1em 0 1em;
  margin: 1em;
  background-color: #10495b;
}

.myRoutinesHeader {
  color: aliceblue;
  margin-right: 1em;
}

.myRoutinesHeaderContainer {
  display: flex;
  align-items: center;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 1px 1px black;
}

button {
  margin: 5px 5px 5px 0;
}

